/**
 * Sticky footer
 */

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.contentContainer {
    padding-top: 50px;
    flex: 1 0 auto;
}

/**
 * Rows
 */

.l-row {
    padding: 4em 2em;
    width: 100%;
}

.l-row--noPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

@media (min-width: 550px) {
    .l-row {
        padding: 4em 3em;
        width: 100%;
    }
}

@media (min-width: 650px) {
    .l-row {
        padding: 4em 4em;
        width: 100%;
    }
}

@media (min-width: 850px) {
    .l-row {
        padding: 4em 5em;
    }
}

.l-row__inner {
    position: relative;
    max-width: 1050px;
    margin: 0 auto;
}

.l-row--fullwidth .l-row__inner {
    max-width: none;
}

/**
 * Row types
 */

.admin .contentContainer,
.dashboard .contentContainer,
.l-row--fire {
    color: #fff;
    background: radial-gradient(90% 100%,#bd2f33 0,#2d0204 100%);
}

.admin .contentContainer a,
.dashboard .contentContainer a,
.l-row--fire a {
    color: #000;
}

/**
 * Cols
 */

.l-row--noPadding .l-col {
    padding: 0 2em;
}

.l-col--noPadding {
    padding-right: 0 !important;
    padding-left: 0 !important;
}

@media (min-width: 550px) {
    .l-row--noPadding .l-col {
        padding: 0 3em;
    }
}

@media (min-width: 650px) {
    .l-row--noPadding .l-col {
        padding: 0 4em;
    }
}

@media (min-width: 800px) {
    .l-cols {
        display: flex;
    }

    .l-cols--2 .l-col {
        width: 50%;
        padding: 1em 2em 1em 0;
    }

    .l-row--noPadding .l-cols--2 .l-col {
        padding-left: 2em;
    }

    .l-cols--2 .l-col:last-child {
        padding: 1em 0 1em 2em;
    }

    .l-row--noPadding .l-cols--2 .l-col:last-child {
        padding-right: 2em;
    }
}

/**
 * Countdown
 */

.l-row--countdown {
    padding: 2em;
    color: #fff;
    text-align: center;
}

/**
 * Footer row
 */

.l-row--footer {
    background-color: #1f0202;
    color: #fff;
    text-align: center;
}

/**
 * Masthead
 */

.l-row--mastHead {
    padding: 0;
}

/**
 * Menu row
 */

.l-row--menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    height: 50px;
    padding-top: 0;
    padding-bottom: 0;
    background-color: #1f0202;
    z-index: 10000;
    overflow: visible;
}

/**
 * Dashboards
 */

.admin .l-row__inner,
.dashboard .l-row__inner {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
}

.dashboard .c-form__subtitle {
    color: #fff;
}