/**
 * Footer
 */

.p-footer__first,
.p-footer__second {
    overflow: hidden;
    margin-bottom: 2em;
}

.p-footer__second {
    margin-bottom: 0;
}

.p-footer__second,
.p-footer__second a {
    color: #7a6768;
}

.p-footer__second p {
    margin-bottom: 0.25em;
}

.p-footer__second a {
    display: inline-block;
}

.p-footer__second ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.p-footer__second li {
    display: inline-block;
}

.p-footer__second li:first-child::after {
    content: '•';
    margin: 0 .25em 0 .5em;
    text-decoration: none;
}